In [6]:
import pandas as pd
import ssl

In [7]:
ssl._create_default_https_context = ssl._create_unverified_context

df = pd.read_csv("https://raw.githubusercontent.com/drobaina/Python/main/microdados_ed_basica_RJ_2022.csv", header=0)
df.head()

,Unnamed: 0,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
0,0,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,10.0,20.0,0.0,0.0,8.0,0.0,8.0,21.0,21.0,0.0
1,1,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0
2,2,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,0.0,8.0,1.0,1.0,4.0,0.0,4.0,5.0,5.0,0.0
3,3,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,8.0,32.0,10.0,10.0,0.0,0.0,0.0,27.0,27.0,0.0
4,4,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,8.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [43]:
# read xlsx
dictionary = pd.read_excel("https://raw.githubusercontent.com/drobaina/Python/main/dicionariodedados.xlsx", header=0)
# remove first and last 8 rows and select columns
dictionary = dictionary.iloc[8:-8, [1, 2, 5]]
dictionary.columns = ["Nome da Variável", "Descrição da Variável", "Categoria"]
# reset index
dictionary = dictionary.reset_index(drop=True)
dictionary

,Nome da Variável,Descrição da Variável,Categoria
0,NU_ANO_CENSO,Ano do Censo,NaN
1,NO_REGIAO,Nome da Região Geográfica,NaN
2,CO_REGIAO,Código da Região Geográfica,NaN
3,NO_UF,Nome da Unidade da Federação,NaN
4,SG_UF,Sigla da Unidade da Federação,NaN
...,...,...,...
386,QT_TUR_MED,Número de Turmas de Ensino Médio,NaN
387,QT_TUR_PROF,Número de Turmas de Educação Profissional,NaN
388,QT_TUR_PROF_TEC,Número de Turmas de Educação Profissional Técnica,NaN
389,QT_TUR_EJA,Número de Turmas de Educação de Jovens e Adult...,NaN
390,QT_TUR_EJA_FUND,Número de Turmas de Educação de Jovens e Adult...,NaN

### Filtering City "Angra dos Reis"

In [51]:
df_Angra = df[df["NO_MUNICIPIO"] == "Angra dos Reis"]
df_Angra.head()

,Unnamed: 0,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
0,0,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,10.0,20.0,0.0,0.0,8.0,0.0,8.0,21.0,21.0,0.0
1,1,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0
2,2,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,0.0,8.0,1.0,1.0,4.0,0.0,4.0,5.0,5.0,0.0
3,3,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,8.0,32.0,10.0,10.0,0.0,0.0,0.0,27.0,27.0,0.0
4,4,2022,Sudeste,3,Rio de Janeiro,RJ,33,Angra dos Reis,3300100,Sul Fluminense,...,8.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [13]:

# Agrupar os dados por cidade e dependência administrativa
grouped = df.groupby(['NO_MUNICIPIO', 'TP_DEPENDENCIA'])['IN_COMPUTADOR'].mean().reset_index()

# Renomear as colunas para ficarem mais claras
grouped.columns = ['Cidade', 'Dependência Administrativa', 'Média de Computadores por Aluno']

# Exibir os resultados
# print(grouped)

grouped

,Cidade,Dependência Administrativa,Média de Computadores por Aluno
0,Angra dos Reis,1,1.000000
1,Angra dos Reis,2,0.928571
2,Angra dos Reis,3,0.953488
3,Angra dos Reis,4,1.000000
4,Aperibé,2,1.000000
...,...,...,...
298,Vassouras,4,0.900000
299,Volta Redonda,1,1.000000
300,Volta Redonda,2,1.000000
301,Volta Redonda,3,0.989691
302,Volta Redonda,4,0.982143